.wrapper {
  display: inline-flex;
  align-items: center;
}

.pagination {
  transition: color .2s;
  padding: 0;
  display: inline-flex;
  list-style-type: none;
  text-align: center;
  align-items: center;
  user-select: none;
  color: var(--color-primary);
  margin: 0 1.25rem;
}

.pagination > * {
  padding: .1rem .5rem;
  margin: 0 .25rem;
  border-radius: 1rem;
  cursor: pointer;
}

.pagination > *:hover {
  color: var(--color-text-primary)
}

.pagination > .more {
  color: var(--color-text-primary);
}

.pagination > .selected {
  background: #ffcc00;
  color: var(--color-text-primary);
}

.smallpag {
  color: var(--color-primary);
  margin: 0 4.75rem;
  user-select: none;
}