.uploader {
  --uploader-size: 16.5rem;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--uploader-size);
  height: var(--uploader-size);
  border: 2px dashed var(--color-border);
  border-radius: 32px;
  padding: 16px;
  margin: 0.1rem;
  transition: 0.3s;
  cursor: pointer;
}

.uploader.process {
  width: calc(var(--uploader-size) + 0.2rem);
  height: calc(var(--uploader-size) + 0.2rem);
  margin: 0rem;
  border-color: var(--color-primary-hover);
}

.uploader.process:hover,
.uploader.process:focus,
.uploader.process:active {
  background-color: var(--color-bg-pastel-green);
}

.uploader.done:hover,
.uploader.done:focus,
.uploader.done:active {
  background-color: var(--color-bg-pastel-green);
}

.uploader.canceled:hover,
.uploader.canceled:focus,
.uploader.canceled:active {
  background-color: var(--color-bg-pastel-red);
}

.uploader.canceled {
  border-color: var(--color-error);
}

.halfMarginTop {
  display: inline-block;
  margin-top: 8px;
}

.halfMarginBottom {
  display: inline-block;
  margin-bottom: 8px;
}

.uploader.done {
  border-color: var(--color-primary);
}

.uploader.wait:hover,
.uploader.wait:focus,
.uploader.wait:active {
  width: calc(var(--uploader-size) + 0.2rem);
  height: calc(var(--uploader-size) + 0.2rem);
  margin: 0rem;
  border-color: var(--color-primary-hover);
  background-color: var(--color-bg-pastel-green);
}

.uploader input[type='file'] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.RoundSpinner {
  animation: spin 4s linear infinite;
}

.btnContainer {
  height: 50px;
  display: flex;
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
