.dropdown {
  position: relative;
  display: inline-block;
}

.hide {
  display: none;
}

.listArrow {
  position: absolute;
  z-index: 999;
  line-height: 0.75rem;
  text-shadow: 0 0 3rem var(--color-shadow);
}

.listArrow.bottomCenter {
  top: 100%;
  right: calc(50% - 0.75rem);
  transform: rotate(180deg);
}
.listArrow.bottomLeft {
  top: 100%;
  right: 0px;
  transform: rotate(180deg);
}

.listArrow.bottomRight {
  top: 100%;
  left: 0px;
  transform: rotate(180deg);
}

.listArrow.topCenter {
  bottom: 100%;
  right: calc(50% - 0.75rem);
}
.listArrow.topLeft {
  bottom: 100%;
  right: 0px;
}

.listArrow.topRight {
  bottom: 100%;
  left: 0px;
}
.listArrow.topLeft {
  bottom: 100%;
  right: 0px;
}

.list {
  z-index: 998;
  list-style-type: none;
  margin: 0;
  background: var(--color-bg-input);
  border-radius: 1rem;
  position: absolute;
  padding: 0.5rem;
  box-shadow: 0 0 3rem var(--color-shadow);
  outline: none;
}

.list.bottomCenter {
  top: calc(100% + 0.75rem);
  left: 50%;
  transform: translate(-50%, 0);
}

.list.bottomLeft {
  top: calc(100% + 0.75rem);
  right: -1rem;
}

.list.bottomRight {
  top: calc(100% + 0.75rem);
  left: -1rem;
}
.list.topCenter {
  bottom: calc(100% + 0.75rem);
  left: 50%;
  transform: translate(-50%, 0);
}

.list.topLeft {
  bottom: calc(100% + 0.75rem);
  right: -1rem;
}

.list.topRight {
  bottom: calc(100% + 0.75rem);
  left: -1rem;
}

.list > li {
  line-height: 2.5rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.list > li.highlighted {
  background-color: var(--color-bg-grey-3);
}

.list > li.emptyList {
  color: var(--color-text-disabled);
}
