.tabContainer {
  display: inline-flex;
  flex-direction: row;
  border-radius: 2.5rem;
  padding: 0.25rem;
}

.tabContainer.inner {
  background: var(--color-bg-grey-3);
  box-shadow: 0px -12px 40px var(--color-shadow),
    0px 20px 30px rgba(27, 31, 39, 0.06);
}

.tabContainer.outer {
  background: var(--color-bg-input);
  box-shadow: 0px 16px 48px rgba(73, 92, 136, 0.15);
}

.tabContainer.default .tab {
  height: 2.5rem;
}

.tabContainer.small .tab {
  height: 2rem;
}

.tab {
  min-width: 7.5rem;
  min-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  font-family: var(--font-regular);
  font-style: normal;
  font-weight: 600;
  color: var(--color-text-primary);
  cursor: pointer;
}

.tab.activeTab {
  color: var(--color-text-inverse);
  background: var(--color-primary);
  border-radius: 2rem;
}

.tabContainer.buttons .tab {
  background: var(--color-bg-grey-3);
  border-radius: 2rem;
  margin: 0 0 0 0.5rem;
  min-width: 2.5rem;
  padding: 0 1rem;
}

.tabContainer.buttons .tab.activeTab {
  background: var(--color-primary);
}
