.kebab {
  box-shadow: 0px 4px 8px #495c8826;
}

.kebab icon {
  cursor: pointer;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  outline: none;
  pointer-events: none;
}

.menuWithoutPadding {
  padding: 0;
  border-radius: 1.5rem;
}

.menuWithoutPadding > li {
  padding: 0;
  border-radius: 1.5rem;
}
