.link {
    font-family: var(--font-bold);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-decoration-line: none;
}

.link.primary {
    color: var(--color-primary)
}

.link.blue {
    color: var(--color-blue)
}

.link.error {
    color: var(--color-error);
}

.link:hover {
    text-decoration-line: underline;
}