:root {
  /** fonts */
  --font-hero: 'Squad Heavy';
  --font-regular: 'Source Sans Pro Regular';
  --font-italic: 'Source Sans Pro Italic';
  --font-bold: 'Source Sans Pro Bold';
  --font-bold-italic: 'Source Sans Pro Bold Italic';
  --font-light: 'Source Sans Pro Light';
  --font-light-italic: 'Source Sans Pro Light Italic';
  --font-semi-bold: 'Source Sans Pro Semi Bold';
  --font-semi-bold-italic: 'Source Sans Pro Semi Bold Italic';
  --font-black: 'Source Sans Pro Black';
  --font-black-italic: 'Source Sans Pro Black Italic';
  --font-code: 'FiraCode';

  /** colors */
  /** main colors */
  --color-primary: #52ae30;
  --color-primary-hover: #74bf1e;
  --color-highlighted: #ff6600;
  --color-highlighted-hover: #ff802b;
  --color-blue: #1b82e3;
  --color-blue-hover: #3e9ef7;
  --color-error: #ff435a;
  --color-error-hover: #ff5c6f;
  --color-alert: #ffcc00;
  --color-white: #ffffff;
  --color-black: #000000;

  /** background colors */
  --color-bg-grey-1: #474d59;
  --color-bg-grey-2: #333740;
  --color-bg-grey-3: #292c33;
  --color-bg-grey-4: #1f2226;

  --color-bg-input: #292c33;
  --color-bg-input-disabled: #393b4040;

  /** border colors */
  --color-border: #737780;
  --color-shadow: none;
  --color-modal-overlay: #1b1f2750;

  /** text colors */
  --color-text-primary: #e6eaf2;
  --color-text-secondary: #a1a7b3;
  --color-text-disabled: #676b73;
  --color-text-inverse: #1b1f27;

  /** chart colors */
  --color-chart-blue: #1b82e3;
  --color-chart-yellow: #ffcc00;
  --color-chart-purple: #650c90;
  --color-chart-violet: #ab47bc;
  --color-chart-coral: #1bbc9b;
  --color-chart-green: #52ae30;

  /** pastel colors */
  --color-bg-pastel-yellow: #fff8db;
  --color-bg-pastel-orange: #ffefd6;
  --color-bg-pastel-red: #ffe0e3;
  --color-bg-pastel-blue: #dbf4fa;
  --color-bg-pastel-green: #def7ea;

  --color-hero-bg-pastel-ocher: #e9c597;
  --color-hero-bg-pastel-yellow: #ffe680;
  --color-hero-bg-pastel-orange: #f6ae8b;
  --color-hero-bg-pastel-red: #dbb4c1;
  --color-hero-bg-pastel-purple: #d1bcdc;
  --color-hero-bg-pastel-violet: #cf98d9;
  --color-hero-bg-pastel-blue: #a3cbe6;
  --color-hero-bg-pastel-green: #a8ccab;
  --color-hero-bg-pastel-lime: #aad17d;
  --color-hero-bg-pastel-coral: #84bdb1;

  /** alert colors */
  --color-notification-success: #298d37;
  --color-notification-error: #ff435a;

  /** treminal colors */
  --color-text-terminal-primary: #e6eaf2;
  --color-text-terminal-secondary: #a1a7b3;
  --color-bg-terminal-4: #1f2226;
  --color-bg-terminal-2: #333740;
  --color-bg-terminal-1: #474d59;

  /** logo colors */
  --color-logo-1: #006648;
  --color-logo-2: #52ae30;

}
