.lead {
  font-family: var(--font-regular);
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 2rem;
  display: block;
  margin: 0;
}

.highlighted {
  font-family: var(--font-bold);
  font-weight: bold;
}

.compact {
  line-height: 1.5rem;
}
