.wrapper {
  position: fixed;
  z-index: 100;
  top: 0;
  right: -456px;
  width: 456px;
  height: 100vh;
  border-radius: 40px 0 0 40px;
  box-sizing: border-box;
  background-color: var(--color-bg-grey-2);
  padding: 24px;
  transition: right 0.4s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider {
  height: 1px;
  background-color: var(--color-bg-grey-1);
  margin-top: 24px;
}

.topContent,
.midContent,
.bottomContent {
  margin-top: 24px;
}

.show {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 99;
}
