.header {
  margin-bottom: 0.5rem;
  color: var(--color-text-secondary);
}

.headerCol {
  display: flex;
}

.headerCol:first-child {
  padding-left: 1rem !important;
}

.headerCol:last-child {
  padding-right: 1.5rem !important;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {
  padding: .3rem;
  border-radius: 2.5rem;
  background-color: var(--color-bg-input);
}

.item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.col {
  display: flex;
  align-items: center;
}

.col:first-child {
  padding-left: .8rem !important;
}

.col:last-child {
  padding-right: .8rem !important;
}

.pag {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
