.container {
  display: inline-block;
  position: relative;
}

.badge {
  display: inline-block;
  position: absolute;
  bottom: calc(100%-0.5rem);
  right: -0.5rem;
  height: 1rem;
  min-width: 1rem;
  background-color: var(--color-highlighted);
  color: var(--color-text-inverse);
  font-weight: bold;
  font-size: 0.875rem;
  text-align: center;
  line-height: 1rem;
  border-radius: 6px;
}
