.section {
  background-color: #6e7482;
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.navbar {
  width: 5rem;
  padding: 32px 0 12px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.navbar .hamburger {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.navbar .menu {
  display: flex;
  flex-direction: column;
  height: calc(100% - 48px * 2 - 24px);
}

.navbar .menu .menuItem {
  height: 72px;
  width: 100%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar .menu .menuItem.activeItem {
  background: #eff2f9;
  border-radius: 40px 0px 0px 40px;
  position: relative;
}

.navbar .menu .menuItem.activeItem::before {
  content: '';
  background: radial-gradient(at 0px 0px, #6e7482 70%, #eff2f9 71%);
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 100%;
  right: 0;
}

.navbar .menu .menuItem.activeItem::after {
  content: '';
  background: radial-gradient(at 0px 16px, #6e7482 70%, #eff2f9 71%);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 100%;
  right: 0;
}

.navbar .config {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: calc(100vw - 5rem);
  background: #eff2f9;
  border-radius: 2.5rem 0 0 2.5rem;
  padding: 2rem 2rem 2rem 2.5rem;
  display: flex;
  flex-direction: column;
}

.header {
  padding-bottom: 24px;
}

main {
  flex-grow: 1;
}
